body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",
               Helvetica,
               "PingFang SC",
               "Hiragino Sans GB",
               "Microsoft YaHei",
               "微软雅黑",
               Arial,
               sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.el-textarea textarea {
  min-height: 36px;
}

.inner-head-wrap {
  background-color: #324157;

  & > * {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.inner-page-wrap > .inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.breadcrumb {
  padding: 14px 0;
  border-bottom: 1px solid #EFF2F7;
}

.top-btns-bar {
  padding: 14px 0;
  border-bottom: 1px solid #EFF2F7;
}

.pop-in-btn {
  text-align: right;
  margin: 0;
}

.pop-out-btn {
  margin-left: 10px;
}
